# 환경 변수 관리
python-dotenv

# QFieldCloud 및 데이터 처리
qfieldcloud-sdk
geopandas
pandas
sqlalchemy
geoalchemy2
psycopg2-binary
fiona
pyproj
pytz
shapely

# 자연어 처리 및 오디오
customized_konlpy==0.0.64
kss==4.5.1
speechrecognition==3.9.0
pydub==0.25.1